<html>
<head>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/component.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascript/nlform.js"></script>
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/javascript/tabs.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArHpxtqFyTX2GnP-V8TQyhBAuUU2t3sFk&sensor=true"></script>
  <script src="/javascript/map.js"></script>
</head>
<body>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img class ="logo" src="/media/logo.png" height="50px"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
			<!--	<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul> 
					</li> 
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../navbar/">Default</a></li>
					<li><a href="../navbar-static-top/">Static top</a></li>
					<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
				</ul> -->
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="row" id="main">
		<div class ="col-lg-4 col-md-12">
			<div class="side-bar">
				<div class="selectors">
					{% block content %}Content{% endblock %}
				</div>
				<div class="day-planner">
					{% block day-planner %}Day Planner{% endblock %}
				</div>
			</div>
		</div>
		<div class ="col-lg-8 col-md-12 fixed">
			<div class="map" id="map">
			MAP
			</div>
		</div>
	</div>
</body>
</html>